<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Preconnect to CDN: remove if not needed -->
<link href="https://cdn.jsdelivr.net" rel="preconnect" crossorigin="anonymous">

<!-- Boosted CSS -->
<link href="https://cdn.jsdelivr.net/npm/boosted@5.2.2/dist/css/boosted.min.css" rel="stylesheet" integrity="sha384-4W+7QzRvU5MpZNXDQLEE9WgRDCNWBvAwLgEYnOpcArZblM633JIQea8MS9gDaQhi" crossorigin="anonymous">

<!-- Custom CSS -->
<link href="{{ "/assets/css/main.css" | relative_url }}" rel="stylesheet">