<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Preconnect to CDN: remove if not needed -->
<link href="https://cdn.jsdelivr.net" rel="preconnect" crossorigin="anonymous">

<!-- Copyright © 2014 Monotype Imaging Inc. All rights reserved -->
<link href="https://cdn.jsdelivr.net/npm/boosted@5.0.2/dist/css/orange-helvetica.min.css" rel="stylesheet" integrity="sha384-ARRzqgHDBP0PQzxQoJtvyNn7Q8QQYr0XT+RXUFEPkQqkTB6gi43ZiL035dKWdkZe" crossorigin="anonymous">

<!-- Boosted CSS -->
<link href="https://cdn.jsdelivr.net/npm/boosted@5.0.2/dist/css/boosted.min.css" rel="stylesheet" integrity="sha384-6VTsNhIHFxNglfMLfhvvJFxXZbdvT1UXhm7+wVMAda9c+2NIFu4zmlKKz/bJthi/" crossorigin="anonymous">

<!-- Custom CSS -->
<link href="{{ "/assets/css/main.css" | relative_url }}" rel="stylesheet">
