<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Preconnect to CDN: remove if not needed -->
<link href="https://cdn.jsdelivr.net" rel="preconnect" crossorigin="anonymous">

<!-- Boosted CSS -->
<link href="https://cdn.jsdelivr.net/npm/boosted@5.3.3/dist/css/boosted.min.css" rel="stylesheet" integrity="sha384-laZ3JUZ5Ln2YqhfBvadDpNyBo7w5qmWaRnnXuRwNhJeTEFuSdGbzl4ZGHAEnTozR" crossorigin="anonymous">

<!-- Custom CSS -->
<link href="{{ "/assets/css/main.css" | relative_url }}" rel="stylesheet">

<!-- Favicons -->
<link rel="apple-touch-icon" href="{{ "/assets/favicons/apple-touch-icon.png" | relative_url }}" sizes="180x180">
<link rel="icon" href="{{ "/assets/favicons/favicon-32x32.png" | relative_url }}" sizes="32x32" type="image/png">
<link rel="icon" href="{{ "/assets/favicons/favicon-16x16.png" | relative_url }}" sizes="16x16" type="image/png">
<link rel="manifest" href="{{ "/assets/favicons/manifest.json" | relative_url }}">
<link rel="mask-icon" href="{{ "/assets/favicons/safari-pinned-tab.svg" | relative_url }}" color="#000">
<link rel="icon" href="{{ "/assets/favicons/favicon.ico" | relative_url }}">
<meta name="msapplication-config" content="{{ "/assets/favicons/browserconfig.xml" | relative_url }}">
<meta name="theme-color" content="#000">