<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
  <title>{{ page.title }}</title>
</head>

<body>
  <div class="ods-layout container-xxl">
    <main class="ods-main order-1">

      <div class="ods-intro pt-md-4 ps-lg-4">
        <div class="d-md-flex align-items-center justify-content-between">
          <h1 id="ods-title">{{ page.title }}</h1>
        </div>
        <p class="ods-lead">{{ page.description }}</p>
      </div>

      <div class="ods-content ps-lg-4 mb-3">        
        {{ content }}
      </div>
    </main>
  </div>

  {% include scripts.html %}
</body>

</html>
